/**/

/* Database table */
.work-space .database-view {
  height: 100%;
  overflow: hidden;
  width: calc(100% - 300px);
}

/* Database filter */
.work-space .database-filter {
  box-sizing: border-box;
  height: 100%;
  width: 300px;
}
